@font-face {
  font-family: 'Lemon-Jelly';
  src: url('../fonts/LemonJelly.eot');
  src: url('../fonts/LemonJelly.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LemonJelly.woff') format('woff'),
       url('../fonts/LemonJelly.ttf') format('truetype'),
       url('../fonts/LemonJelly.svg#LemonJelly') format('svg');
  font-weight: normal;
  font-style: italic;
}